<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Our Catalog
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="add">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-margin">
     <strong>We propose these new courses : </strong>
  </div>

  <ion-list>
    <ion-item [routerLink]="['/home', 'details', c.id]" *ngFor="let c of listCourses">
      <ion-avatar class="ion-margin-horizontal">
        <ion-img [src]="c.image"></ion-img>
      </ion-avatar>
      {{c.title}}
    </ion-item>
  </ion-list>
  <div id="container">
    <strong> By BECHIR </strong>
  </div>
</ion-content>
